/* Estilos para el header */

header{
    text-align: center;
}

header div{
    background: #E5E5E5;

}

header img {
    margin: 10px;

}

/* Estilos generales */

h1{
    background-color: #C4C4C4;
    text-transform: uppercase;
    font-size: 35px;
    color: #005677;
    letter-spacing: 0.4em;
    margin-bottom: 150px;
    margin-top: 0px;

}

main{
    max-width: 1041px;
    margin: 50px auto; 
}


h2{
    
    margin: 0 auto;
    text-align: left;
    background-color: #C4C4C4;
    color: #005677;
    margin-top: 30px;
    padding: 4px;

}

span{
    font-weight: bold;
}

.cursiva{
    font-style: italic;
}

dt{
    margin-top: 5px;
}

/* Estilos para el footer */

footer h2{

    text-align: center;
    color: white;
    background: #005677;
    margin-top: 60px;

}

footer img{
    padding-left: 15px;
}

